@font-face {
    src: url("../fonts/fontawesome-webfont.svg");

}

* {
    margin: auto;
}

.container {
    background-image: url("../img/background.jpg");
    position: relative;
    z-index: 1;
}

.container::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #005bea;
    opacity: 0.9;
    background: -webkit-linear-gradient(bottom, #005bea, #00c6fb);
    z-index: -1;
    padding-bottom: 750px;
}

img.loginImage {
    border-radius: 80px;
    position: relative;
    width: 125px;
    top: 180px;
    left: 450px;

}

h3.imgText {
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 200px;
}

input.inputUsername {
    border: solid white 1px;
    border-radius: 23px;
    height: 45px;
    width: 360px;
    position: relative;
    top: 255px;
    left: 330px;

}

input.inputPassword {
    border: solid white 1px;
    border-radius: 23px;
    height: 45px;
    width: 360px;
    position: relative;
    top: 355px;
    top: 355px;
    right: 40px;

}

button.btn {
    width: 370px;
    height: 53px;
    background-color: #333333;
    border: solid #333333;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    position: relative;
    top: 400px;
    left: 330px;
}